*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "x`";
}

html,body{
    width: 100%;
    height: 100%;
}

#back{
    width: 100%;
    height: 100%;
    background-color: white;
    overflow: hidden;
}

#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px;
    font-size: 20px;
    width: 100%;
    height:13%;
    border: 2.5px solid #dadada ;
}

#red{
    color: rgb(236, 77, 77);
}

#links a{
    display: inline-block;
    text-decoration: none;
    margin-left: 70px;
    color: black;
    font-size: 14px;
    font-weight: 700;
}

#links a:nth-child(1){
    margin-right: 0px;
}

#rightopts a{
    text-decoration: none;
    color: black;
    font-size:14px ;
    margin-right: 30px;
    font-weight: 500px;
}

#rightopts i{
    font-size: 15px;
}

#credits{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 160px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 13%;
    border-top: 2.5px solid #dadada ;
}


#credits img{
    filter: grayscale();
    opacity: .5;
    width: 80px;

}

#main{
    display: flex;
    width: 100%;
    height: 74%;
}

#left{
    width: 50%;
    height: 100%;
}

#right{
    position: relative;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

#right img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(2);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#left #heading{
    position: absolute;
    top: 30%;
    left:10%;
}

#left #heading h1{
    font-family: "playfair Display";
    font-size: 70px;
    color: rgb(3,24,49);
}

#left #heading #line{
    width: 15%;
    height: 10px;
    margin-top: 20px;
    background-color: rgb(3,24,49);
}

#left #heading p{
    width: 40%;
    margin-top: 20px;
    font-family: "montserrat";
    font-size: 15px;
    font-weight: 500;
    opacity: .4;
    color: rgb(3,24,49);
}

#left #heading button{
    padding: 10px 40px;
    margin-top: 20px;
    background-color: transparent;
    border: 1.2px solid rgb(3,24,49);
    color: rgb(3,24,49);
    text-transform: uppercase;
    font-family: "montserrat";
    font-weight: 600;
    letter-spacing: 4px;
}
